<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerDensity.Account" value="aqueduct.serverdensity.com" />
    <add key="ServerDensity.ApiKey" value="--" />
    <add key="ServerDensity.Username" value="--" />
    <add key="ServerDensity.Password" value="--" />
  </appSettings>
</configuration>